canvas {
    width: 50vh;
    max-width: 95vw;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    image-rendering: optimizeSpeed;
    /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;
    /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast;
    /* Safari                        */
    image-rendering: -o-crisp-edges;
    /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;
    /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;
    /* IE                            */
}

button{
    background-color: rgb(119, 0, 119);
    border-color:rgb(119, 0, 119);
}
input {
    margin: 0px auto;
    margin-top: 2em;
    color: #ddd;
}

input[type='number'] {
    width: 10em;
}

div {
    text-align: center;
}

body {
    background-color: #111;
    font-family: sans-serif;
    color: #ddd;
}